.valign {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.social-links li {
    padding-bottom: 5px;
}

.hero {
	height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) repeat scroll 0 0%, rgba(0, 0, 0, 0) url("/theme/img/ponte-jk.jpg") repeat scroll 0 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.hero-content {
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 40px;
	color: #fff;
	font-size: 1.4em;
	text-align: center;
}

.hero .logo {
    height: 250px;
}

#nav-mobile-header {
    width: 100%;
}

#nav-mobile-header-img {
    height: 110px;
}

#nav-mobile-header-img img {
    height: 90px;
    margin-top: 25px;
}

#nav-mobile-header-text span {
    font-size: 25px;
}

.article-contents {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.article-contents p {
    text-align: justify;
}

.article-contents ul {
    padding-left: 35px;
}

.article-contents li {
    list-style: initial;
}

.article-contents .figure.align-center img {
    height: auto;
    max-width: 100%;
}

.breadcrumb {
    border-radius: 5px;
    list-style: outside none none;
    padding: 8px 15px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb > li + li::before {
    content: "/ ";
    padding: 0 5px;
    color: #bdbdbd;
}

.pill {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding: 4px 7px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    margin-top: 12px;
}

@media (max-width: 992px) {
    .hero .logo {
        height: 200px;
    }
    h1 {
        font-size: 3rem;
    }
    .hero {
        height: 550px;
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .hero .logo {
        height: 150px;
    }
    h1 {
        font-size: 2rem;
    }
    .hero {
        height: 450px;
        font-size: 0.8em;
    }
}
